.fa-btn {
    margin-right: 8px;
}

.app-screen {
	.btn {
		transition: background-color 0.2s ease;
	}

	.btn-link {
		font-weight: 300;
	}
}

.btn-email, .btn-call {
   display: inline-block;
   max-width: 40px;
   max-height: 40px;
   margin-left: 20px;
   padding: 5px;
   background-color: green;
}

.nav-btn {
	border-radius: 5px;
}