.fa-btn {
    margin-right: 8px;
}

.app-screen {
	.btn {
		transition: background-color 0.2s ease;
	}

	.btn-link {
		font-weight: 300;
	}
}

.btn-email, .btn-call {
   width: auto;
   display: inline-block;
   max-height: 40px;
   margin-left: 20px;
   padding: 5px;
   @media (min-width: $mobile-max-width) {
      max-width: 40px;
   }
}

.nav-btn, .collapsed {
    border-radius: 5px;
	background-color: rgba(173, 174, 175, 0.8);
	border: 1px solid #000000 !important;
	color: #2B5A84;
	font-style: italic;
	&:hover {
		background-color: rgba(173, 174, 175, 0.3);
	}
}


 