.contact {
    overflow-y: auto !important;
    .my-data {
        font-size: 17px;
        font-weight: 600;
    }
    .btn-email {
        :hover {
	    animation: rubberBand 0.8s;
        }
    }
    .form-container {
        @media (min-width: $mobile-max-width) {
            //max-width: 90%;
             .form-group {
            display: table-cell;
            &:nth-child(2) {
                position: relative;
                left: 20px;
                margin-left: 30px;
            }
           
        }
         button {
              display: block;
              position: relative;
              top: -35px;
              width: 180px;
              margin: 0px; 
            }
        }
       
        label {
            font-weight: 600;
        }
        
        input, textarea, button {
            border-radius: 7px;
        }
        
        textarea {
            height: 150px;
            height: 20em;
            width: 200%;
            max-width: 590px;
            max-height: 150px;
        }
    }
}    