.contact {
    .my-data {
        font-size: 17px;
        font-weight: 600;
    }
    .btn-email {
        :hover {
	    animation: rubberBand 0.8s;
        }
    }
    .form-container {
        @media (min-width: $mobile-max-width) {
            max-width: 50%;
        }
        label {
            font-weight: 600;
        }
        textarea {
            max-height: 40px;
            max-width: 100%;
        }
    }
}    