.navbar {
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 40px;
	background-color: #FFF;
	border-bottom: 1px solid #000;
	
	&-toggle {
	    border: 2px solid #000;
		color: #fff;
	}
	
	.collapsed {
		background-color: #abc;
		//background-color: #482bbd;
		border: 1px solid #000;
	    color: #000	
	}
	
	.navbar-brand {
		animation: fadeIn 3.5s;
		font-size: 28px;
		@media (min-width: $screen-min-width) {
		  min-width: 200px;
		}  
		i {
			color: #f4645f;
			color: green;
		}
	}

	.navbar-nav {
		padding-top: 0px;
		li a {
			color:$nav-font-color;
		}
		li a.v-link-active {
			text-decoration: underline;
		}
	}

	.dropdown-menu {
		li {
			font-size: 14px;

			a {
				font-weight: 300;
				line-height: 25px;
				vertical-align: middle;
			}
		}
	}
	.menu-text {
		font-weight: 700;
	}
	
	.my-logo {
		color:$nav-font-color;
		padding: 5px; 
		margin-left: 17.5px;
		animation: zoomInUp 3.75s;
	}
}

.nav {
    @media (max-width:$mobile-max-width) {
	    background-position: center;
		background-size: 300%;
	}
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(215, 218, 217, 0.195);
}
