.app-screen {
	.tab-pane {
		display: block;
	}

	.panel-body {
		font-weight: 300;
		&-left {
		  background-image: url(../img/grid.svg);
		  @media (min-width:$screen-min-width) {
			background-size:400%;
		  }	
		  background-position: 40px;
		  background-repeat: no-repeat;
		  
		}
		&-content {
		  display: inline-block;
		}
	}
	
	.left-panel {
	     background-image: url(../img/grid.svg);
	     background-size: 120%;
			 //text-align: center;
			 a {
				 padding-left: 70px;
			 }
	    .v-enter {
         animation: fadeInLeft 1s;
        }
		v-leave {
         animation: fadeOutLeft 0.8s;
        }
	}
	
	.v-enter-active {
		background-color: rgba(10, 114, 113, 0.7);
      background-image: url(../img/grid.svg);
	  background-size: 110%;
      background-position: -500px -20px;
	  min-height: 180px;
		color: #FFFFFF;
		@media (max-width:$mobile-max-width) {
			background-position: center;
		}
	  
	  p {
		  max-width: 440px;
	  }
	  
	  a {
		  margin-left: 5px;
		  margin-top: -5px;
		  font-size: $font-size-header;
	  }
	  	img {
		  border: 3px solid #E5E4E2;
		   //-moz-box-shadow:    3px 3px 3px 3px #E5E4E2;
			//-webkit-box-shadow: 3px 3px 3px 3px #E5E4E2;
		  //fbox-shadow:         3px 3px 3px 3px #482bbd;
		  position: relative;
		  top: 0px;	
		  display: inline-block;
		  float: right;
		  @media (max-width:$mobile-max-width) {
			  display: none;
		  }	
		}	
	}
	   
	.right-panel {
		  @media (min-width: $mobile-max-width ) {
		      max-height: 430px; 
			}
	    color: $article-content-color;
	    .v-enter {
        animation: fadeInRight 1s;
        }
	    .v-enter-active {
         animation: fadeIn 1.2s;
        }
	}
	
    .panel-heading {
        font-size: $font-size-header;
        font-weight: 700;
		  color: $active-link-font-color;
			text-align: center;
		  background-color: rgba(173, 174, 175, 0.70);
			color: #616161;
			color: #000000;
			//color: #2B5A84;
			//background-color: #bababa;
			//background-color: rgb(59, 89, 152);
      text-shadow: #e0e0e0 2px 2px 0;
			 //text-shadow: #000000 1px 1px 0;
			//text-shadow: #e0e0e0 1px 1px 0;
			// background: #2C3E50; /* fallback for old browsers */
			// background: -webkit-linear-gradient(to left, #2C3E50 , #4CA1AF); /* Chrome 10-25, Safari 5.1-6 */
			// background: linear-gradient(to left, #2C3E50 , #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

	.panel-flush {
		.panel-body, .panel-header {
			padding: 0;
		}
	}
	
	.v-enter-active {
	   p {
	     &:before {
		   content:"\00b7";
		   color: #000000;
	       font-size: 2em;
		   vertical-align: middle;
		   line-height: 15px;
	     }
	   }
	   @media (max-width: $mobile-max-width) {
	     min-height: 180px;
	  } 
	}
}
