.app-screen {
	.tab-pane {
		display: block;
	}

	.panel-body {
		font-weight: 300;
		min-height: 125px;
	}
	
	.left-panel {
	    //color: #482bbd;
	    .v-enter {
         animation: fadeInLeft 0.8s;
        }
		v-leave {
         animation: fadeOutLeft 0.8s;
        }
	}
	
	.right-panel {
	    color: #129bbd;
	    .v-enter {
        animation: fadeInRight 0.8s;
        }
	    .v-enter-active {
         animation: fadeIn 1.2s;
        }
	}
	
    .panel-heading {
        font-size: $font-size-header;
        font-weight: 700;
		color: #482bbd;
		background-color: #e5f5f5;
	    background-color:#abbced;
    }

	.panel-flush {
		.panel-body, .panel-header {
			padding: 0;
		}
	}
}
