<header class="panel-heading" data-i18n="about-heading">
    O NAS
</header>
<article class="panel-body v-enter-active">
	<div class="panel-body-content">
	    <h3 data-i18n="about-title">Czym się zajmujemy:</h3>
		<p data-i18n="about-p1"> Tworzymy aplikacje mobilne. </p> 
		<p data-i18n="about-p2"> Koncentrujemy się głównie na Single Page Applications.</p> 
		<p data-i18n="about-p3"> Korzystamy z narzędzi takich jak m.in.: VieJs, AngularJs, Gulp, Grunt.</p>
	</div>	
	<img src="img/phone_tablet.jpg" alt="Web and Mobile" width="25%" class="img-responsive">
</article>