<header class="panel-heading">
	Kontakt
</header>
<article class="panel-body v-enter-active contact">
    <h3>Zapraszamy do kontaktu:</h3>
    <p> Telefon: <span class="my-data">796 442 207</span>  <a class="btn btn-danger btn-block btn-call" id="fa">
       <i class="fa fa-mobile fa-1x"></i>
    </a> </p>
    <p> e-mail: <span class="my-data"> dawidkunicki88@gmail.com </span> <a class="btn btn-danger btn-block btn-email" href="https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;tf=1&amp;to=dawidkunicki88@gmail.com&amp;body=Hello%2C%0A%0A%0A%0A" id="fa">
       <i class="fa fa-envelope fa-1x"></i>
    </a> </p>
</article>