<div style="margin-top: 125px;">
	<!-- Push Footer -->
</div>
<footer class="footer">
	<div class="container" style="color: #777;">
		<!-- Company Information -->
		<div class="pull-left" style="padding-top: 28px;">
			Copyright &copy;2016 <img class="footer-logo" src="img/wim7.png" alt="Logo WIM">

		</div>
		<!-- Social Icons -->
		<div class="pull-right footer-social-icons">
			 <a class="btn btn-block btn-email" href="https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;tf=1&amp;to=dawidkunicki88@gmail.com&amp;body=Hello%2C%0A%0A%0A%0A" id="fa">
               <i class="fa fa-envelope fa-1x"></i>e-mail</a>
			<!--<a href="http://facebook.com/{{ links.facebook }}">
				<i class="fa fa-btn fa-facebook-square"></i>
			</a>
			<a href="http://twitter.com/{{ links.twitter }}">
				<i class="fa fa-btn fa-twitter-square"></i>
			</a>
			<a href="http://github.com/{{ links.github }}">
				<i class="fa fa-github-square"></i>
			</a>-->
		</div>
		
		<div class="clearfix"></div>
	</div>
</footer>
