<!-- Navigation -->
<nav class="navbar navbar-default">
	<h2 class="hide">Nawigacja główna</h2>
	<div class="container">
		<div class="navbar-header">
			<!-- Collapsed Hamburger -->
			<button type="button" class="navbar-toggle collapsed nav-btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle Navigation</span>
				<i class="fa fa-arrow-down" aria-hidden="true"></i>
				<span class="menu-text">EN/PL</span>
				<!--<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>-->
			</button>
			<!-- Branding Image -->
			<a class="navbar-brand" v-link="{ path: '/' }" style="padding-top: 19px;">
			    <img src="img/wim2.png" alt="Laptop" height="25" width="100">
				<span class="my-logo"> {{ navTitle }} </span>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<!-- Right Side Of Navbar -->
			<ul class="nav navbar-nav navbar-right">
				<!-- Language -->
				<li ><a class="lang" data-lang="pl">Polski</a></li>
				<li ><a class="lang" data-lang="en">English</a></li>
			</ul>
          <!--<div data-i18n="title"></div>-->
		</div>
	</div>
</nav>