.app-screen {
	.app-tabs-stacked {
		border-radius: $border-radius-base;

		a {
			border-bottom: 1px solid rgba(0,0,0,.1);
			border-left: 3px solid transparent;
		    color: $page-nav-links-color;		
			i {
				position: relative;
				color:  #ffcccc;
			}
		}


		li:last-child a {
			border-bottom: 0;
		}

		li.active a {
			border-left: 2px solid $brand-primary;
			//background-color: $active-link-bcg-current-color;
		}

		li a.v-link-active {
			border-left: 1px solid $brand-primary;
			border-right: 1px solid $red-icons;
			border-bottom: 1px solid $brand-primary;
			background-color: $left-tabs-menu-bcg-color;
			&:hover {
				background-color: none;
			}
		}

		li a.v-link-active-exact {
			border-left: 2px solid $brand-primary;
			i.fa {
				color: $active-icon-color;
			}
		}

		li a.v-link-active {
			color: $active-link-font-color;
			font-weight: 700;
		    i {
				 color:$red-icons;
				 animation: rollIn 1.1s;
			}
		}
	}
	
}
