<nav-component></nav-component>
<main class="container app-screen">
	<!-- Tabs -->
	<section class="col-md-3 left-panel">
		<h2 class="hide">Nawigacja wewnętrzna</h2>
		<div class="panel panel-default panel-flush v-enter">
			<header class="panel-heading">
				Strona główna
			</header>
			<div class="panel-body panel-body-left">
				<div class="app-tabs">
					<ul class="nav app-tabs-stacked">
						<li >
							<a v-link="{ path: '/home/welcome' }">
								<i class="fa fa-btn fa-fw fa-list"></i>&nbsp;Witamy</span>
							</a>
						</li>
						<li >
							<a v-link="{ path: '/home/about' }">
								<i class="fa fa-btn fa-fw fa-lightbulb-o"></i>&nbsp;O nas</span>
							</a>
						</li>
						<li >
							<a v-link="{ path: '/home/contact' }">
								<i class="fa fa-btn fa-fw fa fa-mobile"></i>&nbsp;Kontakt</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Tab Panes -->
	
	<section class="col-md-9 right-panel">
		<h2 class="hide">Treść sekcji</h2>
		<div class="tab-content">
			<div class="tab-pane">
				<div class="panel panel-default v-enter">
					<router-view></router-view>
				</div>
			</div><!-- End tab panel -->
		</div><!-- End tab content -->
	</section><!-- End tab panes col-md-9 -->
</main><!-- End container -->

<footer-component></footer-component>
