/*
 * Variables...
 */
 
$border-radius-base: 0;
$brand-primary: #2B5A84;
$red-icons: #ff1a1a;
$active-icon-color: #6CC94D;
$btn-border-radius-base: 4px;
$btn-font-weight: 300;
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif !default;
$font-family-source-pro: 'Source Sans Pro', sans-serif;
$font-size-base: 16px;
$font-size-header: 18px;
$font-size-anchor: 15px;
$font-size-h3-mobile: 20px;
$navbar-height: 65px;

$screen-min-width: 1023px;
$screen-low-resolution-width: 1025px;
$screen-1600-min-width: 1599px;
$screen-1600-max-width: 1681px;
$screen-HD-width: 1920px;
$screen-2560-width: 2560px;

$mobile-max-width: 520px;
$mobile-max-landscape-width: 520px;

$active-link-font-color: #482bbd;
$active-link-font-color:  #000000;
$active-link-bcg-color: #fffccc;
$active-link-bcg-current-color: #fffccc;
$logo-font-color: #000000;
$nav-font-color: #000000;
$page-nav-links-color: #000000;
$article-content-color: #000000;
$left-tabs-menu-bcg-color:rgba(215, 218, 217, 0.375);


/*
 * Bootstrap CSS...
 */
 
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/**
 * Elements
 */

@import "elements/buttons";
@import "elements/forms";
@import "elements/modals";
@import "elements/nav";
@import "elements/panels";
@import "elements/tables";
@import "elements/tooltips";
@import "elements/contact";


/**
 * Components
 */

@import "components/tabs";

/*
 * Misc.
 */

html {
	min-height: 100%;
	position: relative;
}

body {
	overflow-y: auto;
	overflow-y: visible;
	overflow-x: hidden; 
    background-image: url('../img/wim_background.jpg');
	background-position:center center;
	background-repeat: no-repeat;
	background-color: #f5f5f5;
	font-family: $font-family-source-pro;
	@media (max-width: $mobile-max-width) { 
	  h3 {
		margin-top: 5px;
		font-size: $font-size-h3-mobile;
	  }
	}

	@media (min-width: $mobile-max-width) {	
   
	font-weight: 300;
	font-weight: 500;
	margin-bottom: 80px;
	
	h3 {
		margin-top: 0px;
		font-size: 22px;
		font-style: italic;
        text-shadow: darkolivegreen;
        text-decoration: underline;
	}
  }
}

body:not(*:root) {
    /*Chrome CSS here*/
		@media (min-width: $screen-min-width) {	
	      overflow: hidden;
		}
}

.hide {
	display: none;
}

.show {
	display: "";
}

.app-image {
	animation: fadeIn 3.5s;
	@media (max-width: $screen-min-width) {
	  display: none;
	}
	position: absolute;
    top: 300px;
    left: 190px;
	@media (max-width: $screen-low-resolution-width) {
		left: 105px;
	}
	@media (min-width: $screen-1600-min-width) and (max-width: $screen-1600-max-width) {
		left:315px;
	}
	
	@media (min-width: $screen-1600-max-width - 1px) {
		left:350px;
	}
	@media (min-width: $screen-HD-width - 1px) {
	    left: 477px;
	}
	@media (min-width: $screen-2560-width - 1px) {
	    left: 796px;
	}
	@media (min-width: $screen-2560-width + 40px) {
	    display: none;
	}
}

.footer {
	background-color: #000;
	border-top: 3px solid #fff;
	bottom: 0;
	height: 80px;
	position: absolute;
	width: 100%;
	color: #FFF;
    animation: fadeInUp 1.5s;
	@media (max-width: $mobile-max-width) {
	   font-size: 13px;
	}
	&-logo {
		height: 10px;
		width: 200px;
	    @media (max-width: $mobile-max-width) {
		  width: 100px;
	  }
	}

	.pull-left {
		animation: fadeIn 3.5s;
		color: #ffffff;
		font-style: italic;
		@media (max-width: $mobile-max-width) {
		    font-size: 13px;
		}
		img {
			margin-top: -3.5px;
			margin-left: 5px;
		}
	}
	
	.pull-right {
		@media (min-width:  $mobile-max-width) and (max-width: $screen-min-width) {
			margin-right: 35px;
		}
		a {
			@media (max-width: $mobile-max-width) {
				font-size: 12px;
				margin-top: 5px;
			}
		}
	}


	.footer-social-icons {
		font-size: 32px;
		@media (max-width: $mobile-max-width) {
		    font-size: 14px;
		}
		padding-top: 18px;
		a {
			//color: #777;
		}
	}
	.btn-email {
		font-style: italic;
		i {
			margin-right: 5px;
		}
		&:hover {
			color: #ffffff;
		    animation: rubberBand 0.8s;
	    }
	}
}

[v-cloak] {
    display: none;
}